{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"quotes": [
			1,
			"single"
		],
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"semi": [
			2,
			"never"
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"no-tabs": 0,
		"jsx-a11y/label-has-for": 0,
		"react/prop-types": 0,
		"no-console": [
			"warn",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		]
	}
}