.CharacterListItem {
	margin-top: 15px;
	position: relative;
}

@media (min-width: 576px) {
	.CharacterListItem {
		margin-bottom: 15px;
	}
}

.CharacterListItem_inner {
	border: 1px solid #d7d7d7;
	height: 100%;
	position: relative;
	box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
}

.CharacterListItem img {
	margin-left: auto;
	margin-right: auto;
}

.CharacterListItem_title {
	padding: 0.5rem 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.7);
}