.hidden {
	display: none !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

:disabled,
.disabled {
	opacity: 0.8;
	pointer-events: none;
}

a,
a:link,
a:visited {
	color: #337ab7;
}

a:hover {
	/*text-decoration: none;*/
}

/* ================================================== */

.App {
	text-align: center;
	padding-top: 130px;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #fff;
	height: auto;
	padding: 20px;
	color: #d00000;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
	top: 56px;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.container_main {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: left;
}